http_interactions:
- request:
    method: get
    uri: https://search.fatcat.wiki/fatcat_release/_search?q=doi%3A%28%2210.7554%2FeLife.030326%22%20OR%20%2210.7554%2FeLife.327636%22%29&_source_includes=doi%2Ccontainer_issnl%2Ccontainer_name%2Cpublisher&size=2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"took":2,"timed_out":false,"_shards":{"total":5,"successful":5,"skipped":0,"failed":0},"hits":{"total":0,"max_score":null,"hits":[]}}'
  recorded_at: 2020-12-30 22:49:10 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
- request:
    method: get
    uri: https://search.fatcat.wiki/fatcat_release/_search?q=doi%3A%28%2210.7717%2Fpeerj.228%22%20OR%20%2210.7717%2Fpeerj.234%22%29&_source_includes=doi%2Ccontainer_issnl%2Ccontainer_name%2Cpublisher&size=2
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-type: application/json; charset=UTF-8
      status: 'HTTP/2 200 '
    body:
      encoding: UTF-8
      file: no
      string: '{"took":5,"timed_out":false,"_shards":{"total":5,"successful":5,"skipped":0,"failed":0},"hits":{"total":2,"max_score":16.977396,"hits":[{"_index":"fatcat_release_v03b","_type":"release","_id":"rulhhff3kngyfc3rys53vlfuuu","_score":16.977396,"_source":{"container_name":"PeerJ","publisher":"PeerJ","doi":"10.7717/peerj.228","container_issnl":"2167-8359"}},{"_index":"fatcat_release_v03b","_type":"release","_id":"motud42tzfa6fkkgsdmxtu5rs4","_score":16.86301,"_source":{"container_name":"PeerJ","publisher":"PeerJ","doi":"10.7717/peerj.234","container_issnl":"2167-8359"}}]}}'
  recorded_at: 2020-12-30 22:49:10 GMT
  recorded_with: vcr/0.6.0, webmockr/0.7.4
