http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=biology&fl=id&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 01 Jul 2020 13:15:09 GMT
      etag: '"YTYzYzQwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":218260,"start":0,"docs":[]
          }}
  recorded_at: 2020-07-01 17:34:25 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: http://api.plos.org/search?fq=-article_type%3Acorrection&fq=-article_type%3Aviewpoints&q=biology&fl=id&start=0&rows=20&wt=json&fq=doc_type%3Afull
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 01 Jul 2020 13:15:09 GMT
      etag: '"OWJkYzQwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":217581,"start":0,"docs":[
              {
                "id":"10.1371/journal.pone.0034368"},
              {
                "id":"10.1371/journal.pone.0200929"},
              {
                "id":"10.1371/journal.pbio.2003691"},
              {
                "id":"10.1371/journal.pcbi.1005134"},
              {
                "id":"10.1371/journal.pone.0174402"},
              {
                "id":"10.1371/journal.pbio.2002050"},
              {
                "id":"10.1371/journal.pbio.1001530"},
              {
                "id":"10.1371/journal.pntd.0000343"},
              {
                "id":"10.1371/journal.pbio.1001659"},
              {
                "id":"10.1371/journal.pcbi.1002244"},
              {
                "id":"10.1371/journal.pcbi.1006164"},
              {
                "id":"10.1371/journal.pcbi.1004323"},
              {
                "id":"10.1371/image.ppat.v13.i05"},
              {
                "id":"10.1371/journal.pone.0054284"},
              {
                "id":"10.1371/journal.pcbi.0030227"},
              {
                "id":"10.1371/journal.pcbi.1002487"},
              {
                "id":"10.1371/journal.pcbi.1003682"},
              {
                "id":"10.1371/journal.pcbi.1005050"},
              {
                "id":"10.1371/journal.pgen.1006173"},
              {
                "id":"10.1371/journal.pone.0043231"}]
          }}
  recorded_at: 2020-07-01 17:34:25 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: http://api.plos.org/search?q=id%3A10.1371%2Fjournal.pone.0034368&fl=abstract&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 01 Jul 2020 13:15:09 GMT
      etag: '"YTYzYzQwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":1,"start":0,"docs":[]
          }}
  recorded_at: 2020-07-01 17:34:25 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: http://api.plos.org/search?q=id%3A10.1371%2Fjournal.pone.0034368&fl=abstract&start=0&rows=10&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 01 Jul 2020 13:15:09 GMT
      etag: '"OWJkYzQwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":1,"start":0,"docs":[
              {
                "abstract":["\n        This article uses data from Thomson Reuters Web of Science to map and analyse the scientific landscape for synthetic biology. The article draws on recent advances in data visualisation and analytics with the aim of informing upcoming international policy debates on the governance of synthetic biology by the Subsidiary Body on Scientific, Technical and Technological Advice (SBSTTA) of the United Nations Convention on Biological Diversity. We use mapping techniques to identify how synt[...]
[...]
- request:
    method: get
    uri: http://api.plos.org/search?q=id%3A10.1371%2Fjournal.pbio.2003691&fl=abstract&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 01 Jul 2020 13:15:08 GMT
      etag: '"ZjkzYzQwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":1,"start":0,"docs":[]
          }}
  recorded_at: 2020-07-01 17:34:25 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: http://api.plos.org/search?q=id%3A10.1371%2Fjournal.pbio.2003691&fl=abstract&start=0&rows=10&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 01 Jul 2020 13:15:08 GMT
      etag: '"ZjkzYzQwMDAwMDAwMDAwMFN[...]
- request:
    method: get
    uri: http://api.plos.org/search?q=id%3A10.1371%2Fjournal.pcbi.1005134&fl=abstract&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 01 Jul 2020 13:15:09 GMT
      etag: '"ODEzYzQwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":1,"start":0,"docs":[]
          }}
  recorded_at: 2020-07-01 17:34:25 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: http://api.plos.org/search?q=id%3A10.1371%2Fjournal.pcbi.1005134&fl=abstract&start=0&rows=10&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 01 Jul 2020 13:15:09 GMT
      etag: '"YTYzYzQwMDAwMDAwMDAwMFN[...]
[...]
