http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&filter=has-license%3Atrue%2Chas-abstract%3Atrue&offset=0&rows=10
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.2.92 rOpenSci(rcrossref/1.0.0.92) (mailto:<<crossref-email>>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":7496,"items":[{"indexed":{"date-parts":[[2020,3,29]],"date-time":"2020-03-29T22:49:59Z","timestamp":1585522199754},"reference-count":0,"publisher":"University
        of Arizona","issue":"1","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0","start":{"date-parts":[[2015,12,1]],"date-time":"2015-12-01T00:00:00Z","timestamp":1448928000000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["JPE"],"abstract":"<jats:p>Political
        ecologists have long acknowledged the links between knowledge and power. Recently
        there has also been a growing interest in detailed studies about knowledge
        production within critical political ecology. This article is a study of the
        use of photographs in scientific articles on dryland ecology, and investigates
        the functions of photographs. Contrary to the straightforward manner in which
        they are presented, photographs are not value-free [...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.2458/v22i1.21112
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.2.92 rOpenSci(rcrossref/1.0.0.92) (mailto:<<crossref-email>>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
     [...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.2458/v1i1.21154
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.2.92 rOpenSci(rcrossref/1.0.0.92) (mailto:<<crossref-email>>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2020,4,10]],"date-time":"2020-04-10T18:05:11Z","timestamp":1586541911208},"reference-count":0,"publisher":"University
        of Arizona","issue":"1","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0","start":{"date-parts":[[1994,12,1]],"date-time":"1994-12-01T00:00:00Z","timestamp":786240000000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["JPE"],"abstract":"<jats:p>Abstract<\/jats:p>","DOI":"10.2458\/v1i1.21154","type":"journal-article","created":{"date-parts":[[2018,2,6]],"date-time":"2018-02-06T18:38:16Z","timestamp":1517942296000},"page":"1","source":"Crossref","is-referenced-by-count":102,"title":["Political
        Ecology"],"prefix":"10.2458","volume":"1","author":[{"given":"James B.","family":"Greenberg","sequence":"first","affiliation":[]},{"given":"Thomas
        K.","family":"Park","sequence":"additional","affiliation":[]}],"member":"1290","published-online":{"date-parts":[[1994,12,1]]},"container-title":["Journal
        of Political Ecology"],"original-title":[],"link":[{"URL":"https:\/\/journals.uair.arizona.edu\/index.php\/JPE\/article\/viewFile\/21154\/20742","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/journals.uair.arizona.edu\/index.php\/JPE\/article\/viewFile\/21154\/20742","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2018,6,27]],"date-time":"2018-06-27T18:13:13Z","timestamp":1530123193000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[1994,12,1]]},"references-count":0,"journal-issue":{"published-online":{"date-parts":[[1994,12,1]]},"issue":"1"},"URL":"http:\/\/dx.doi.org\/10.2458\/v1i1.21154","relation":{},"ISSN":["1073-0451"],"issn-type":[{"value":"1073-0451","type":"electronic"}],"subject":["Political
        Science and International Relations","Ecology","Geography, Planning and Development"]}}'
  recorded_at: 2020-07-01 17:56:21 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: https://api.crossref.org/works/10.2458/v25i1.23119
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.2.92 rOpenSci(rcrossref/1.0.0.92) (mailto:<<crossref-email>>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2020,3,24]],"date-time":"2020-03-24T17:54:52Z","timestamp":1585072492460},"reference-count":0,"publisher":"University
        of Arizona","issue":"1","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/4.0","start":{"date-parts":[[2018,11,26]],"date-time":"2018-11-26T00:00:00Z","timestamp":1543190400000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["JPE"],"abstract":"<jats:p>Food
        waste is the loss of perfectly edible food products. It is a wide-ranging
        phenomenon: a substantial part of agricultural production is never consumed.
        The prevalent, most widespread paradigm regarding this phenomenon holds that
        it is due to inadequate logistics and technology, or to poor management of
        food on the part of end users. However, an analysis from a political ecology
        standpoint allows a different interpretation: the root of the problem lies
        in the hegemonic agrofood system and the unequal power relationships between
        the actors in the agrofood chain.Key words: Food waste, agriculture, agrofood
        system, supermarkets, political ecology<\/jats:p>","DOI":"10.2458\/v25i1.23119","type":"journal-article","created":{"date-parts":[[2019,1,18]],"date-time":"2019-01-18T21:32:33Z","timestamp":1547847153000},"page":"587","source":"Crossref","is-referenced-by-count":0,"title":["Food
        waste: a political ecology approach"],"prefix":"10.2458","volume":"25","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-0947-614X","authenticated-orcid":false,"given":"Jordi","family":"Gasc\u00f3n","sequence":"first","affiliation":[]}],"member":"1290","published-online":{"date-parts":[[2018,11,26]]},"container-title":["Journal
        of Political Ecology"],"original-title":[],"link":[{"URL":"https:\/\/journals.uair.arizona.edu\/index.php\/JPE\/article\/viewFile\/23119\/21847","content-type":"application\/pdf","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/journals.uair.arizona.edu\/index.php\/JPE\/article\/viewFile\/23119\/21847","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2019,1,18]],"date-time":"2019-01-18T21:36:26Z","timestamp":1547847386000},"score":1.0,"subtitle":[],"short-title":[],"issued":{"date-parts":[[2018,11,26]]},"references-count":0,"journal-issue":{"published-online":{"date-parts":[[2018,1,3]]},"issue":"1"},"URL":"http:\/\/dx.doi.org\/10.2458\/v25i1.23119","relation":{},"ISSN":["1073-0451"],"issn-type":[{"value":"1073-0451","type":"electronic"}],"subject":["Political
        Science and International Relations","Ecology","Geography, Planning and Development"]}}'
  recorded_at: 2020-07-01 17:56:21 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.30564/re.v2i2.1812
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.2.92 rOpenSci(rcrossref/1.0.0.92) (mailto:<<crossref-email>>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
   [...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1155/2011/868426
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.2.92 rOpenSci(rcrossref/1.0.0.92) (mailto:<<crossref-email>>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2020,2,19]],"date-time":"2020-02-19T19:04:09Z","timestamp":1582139049808},"reference-count":148,"publisher":"Hindawi
        Limited","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by\/3.0\/","start":{"date-parts":[[2011,1,1]],"date-time":"2011-01-01T00:00:00Z","timestamp":1293840000000},"delay-in-days":0,"content-version":"unspecified"}],"funder":[{"DOI":"10.13039\/100008327","name":"Berry
        College","doi-asserted-by":"publisher","award":[]}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["International
        Journal of Ecology"],"published-print":{"date-parts":[[2011]]},"abstract":"<jats:p>Functional
        relationships involving species richness may be unimodal, monotonically increasing,
        monotonically decreasing, bimodal, multimodal, U-shaped, or with no discernable
        pattern. The unimodal relationships are the most interesting because they
        suggest dynamic, nonequilibrium community processes. For that reason, they
        are also contentious. In this paper, we provide a wide-ranging review of the
        literat[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1515/cdem-2018-0001
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.2.92 rOpenSci(rcrossref/1.0.0.92) (mailto:<<crossref-email>>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"indexed":{"date-parts":[[2020,3,24]],"date-time":"2020-03-24T18:54:44Z","timestamp":1585076084791},"reference-count":0,"publisher":"Walter
        de Gruyter GmbH","issue":"1-2","license":[{"URL":"http:\/\/creativecommons.org\/licenses\/by-nc-nd\/3.0","start":{"date-parts":[[2018,12,1]],"date-time":"2018-12-01T00:00:00Z","timestamp":1543622400000},"delay-in-days":0,"content-version":"unspecified"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"published-print":{"date-parts":[[2018,12,1]]},"abstract":"<jats:title>Abstract<\/jats:title>\n<jats:p>The
        Earth has existed for more than four billion years and has sustained life
        for three billion. Human beings have existed for just 200,000 years, yet our
        impact on the planet is so great that scientists around the world are calling
        for our period in the Earth\u2019s history to be named \u2018the Anthropocene\u2019
        - the age of humans. The changes we are now making have exacted a heavy toll
        on the natural world aroun[...]
- request:
    method: get
    uri: https://api.crossref.org/works/10.1017/s0376892913000179
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.2.92 rOpenSci(rcrossref/1.0.0.92) (mailto:<<crossref-email>>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'[...]
