http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/journals?query=Stem%20Cells%20International
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.2.92 rOpenSci(rcrossref/1.0.0.92) (mailto:<<crossref-email>>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"journal-list","message-version":"1.0.0","message":{"items-per-page":20,"query":{"start-index":0,"search-terms":"Stem
        Cells International"},"total-results":5,"items":[{"last-status-check-time":1593529636946,"counts":{"total-dois":2102,"current-dois":788,"backfile-dois":1314},"breakdowns":{"dois-by-issued-year":[[2016,523],[2019,372],[2018,319],[2017,309],[2015,168],[2012,132],[2020,97],[2013,63],[2011,56],[2014,41],[2010,22]]},"publisher":"Hindawi
        Publishing Corporation (Sage-Hindawi Access to Research)","coverage":{"affiliations-current":1.0,"similarity-checking-current":1.0,"funders-backfile":0.6392694115638733,"licenses-backfile":1.0,"funders-current":0.8337563276290894,"affiliations-backfile":0.9984779357910156,"resource-links-backfile":1.0,"orcids-backfile":0.521308958530426,"update-policies-current":0.0,"open-references-backfile":1.0,"orcids-current":1.0,"similarity-checking-backfile":1.0,"references-backfile":0.9741247892379761,"award-numbers-backfile":0.4824962019920349,"update-policies-backfile":0.0,"licenses-current":1.0,"award-numbers-current":0.7043147087097168,"abstracts-backfile":0.9398782253265381,"resource-links-current":1.0,"abstracts-current":0.942893385887146,"open-references-current":1.0,"references-current":0.9784263968467712},"title":"Stem
        Cells International","subjects":[{"name":"Cell Biology","ASJC":1307},{"name":"Molecular
        Biology","ASJC":1312}],"coverage-type":{"all":{"last-status-check-time":1593529627817,"affiliations":0.9980988502502441,"abstracts":0.9401140809059143,"orcids":0.7000950574874878,"licenses":0.9990494251251221,"references":0.9748098850250244,"funders":0.7115018963813782,"similarity-checking":0.9990494251251221,"award-numbers":0.5651140809059143,"update-policies":0.0,"resource-links":0.9990494251251221,"open-references":1.0},"backfile":{"last-status-check-time":1593529624639,"affiliations":0.9984779357910156,"abstracts":0.9398782253265381,"orcids":0.521308958530426,"licenses":1.0,"references":0.9741247892379761,"funders":0.6392694115638733,"similarity-checking":1.0,"award-numbers":0.4824962019920349,"update-policies":0.0,"resource-links":1.0,"open-references":1.0},"current":{"last-status-check-time":1593529621176,"affiliations":1.0,"abstracts":0.942893385887146,"orcids":1.0,"licenses":1.0,"references":0.9784263968467712,"funders":0.8337563276290894,"similarity-checking":1.0,"award-numbers":0.7043147087097168,"update-policies":0.0,"resource-links":1.0,"open-references":1.0}},"flags":{"deposits-abstracts-current":true,"deposits-orcids-current":true,"deposits":true,"deposits-affiliations-backfile":true,"deposits-update-policies-backfile":false,"deposits-similarity-checking-backfile":true,"deposits-award-numbers-current":true,"deposits-resource-links-current":true,"deposits-articles":true,"deposits-affiliations-current":true,"deposits-funders-current":true,"deposits-references-backfile":true,"deposits-abstracts-backfile":true,"deposits-licenses-backfile":true,"deposits-award-numbers-backfile":true,"deposits-open-references-backfile":true,"deposits-open-references-current":true,"deposits-references-current":true,"deposits-resource-links-backfile":true,"deposits-orcids-backfile":true,"deposits-funders-backfile":true,"deposits-update-policies-current":false,"deposits-similarity-checking-current":true,"deposits-licenses-current":true},"ISSN":["1687-9678","1687-966X"],"issn-type":[{"value":"1687-9678","type":"electronic"},{"value":"1687-966X","type":"print"}]},{"last-status-check-time":1593529651722,"counts":{"total-dois":2102,"current-dois":788,"backfile-dois":1314},"breakdowns":{"dois-by-issued-year":[[2016,523],[2019,372],[2018,319],[2017,309],[2015,168],[2012,132],[2020,97],[2013,63],[2011,56],[2014,41],[2010,22]]},"publisher":"Hindawi
        Publishing Corporation (Sage-Hindawi Access to Research)","coverage":{"affiliations-current":1.0,"similarity-checking-current":1.0,"funders-backfile":0.63[...]
- request:
    method: get
    uri: https://api.crossref.org/members?query=hindawi
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.2.92 rOpenSci(rcrossref/1.0.0.92) (mailto:<<crossref-email>>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"member-list","message-version":"1.0.0","message":{"items-per-page":20,"query":{"start-index":0,"search-terms":"hindawi"},"total-results":1,"items":[{"last-status-check-time":1593149828281,"primary-name":"Hindawi
        Limited","counts":{"total-dois":242833,"current-dois":50542,"backfile-dois":192291},"breakdowns":{"dois-by-issued-year":[[2014,28912],[2013,26118],[2012,23108],[2015,21827],[2018,21192],[2019,18865],[2016,18601],[2017,16649],[2011,12407],[2020,10485],[2010,6505],[2009,3851],[2008,2994],[2002,2329],[2001,2113],[2007,2030],[2006,2029],[2004,1803],[2005,1648],[2003,1625],[2000,1466],[1999,1211],[1998,1203],[1995,1031],[1994,1015],[1996,1003],[1997,971],[1993,852],[1992,762],[1991,6[...]
- request:
    method: get
    uri: https://api.crossref.org/members?query=journal
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.2.92 rOpenSci(rcrossref/1.0.0.92) (mailto:<<crossref-email>>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"member-list","message-version":"1.0.0","message":{"items-per-page":20,"query":{"start-index":0,"search-terms":"journal"},"total-results":1395,"items":[{"last-status-check-time":1593197514611,"primary-name":"Digital
        Journal of Opthalmology","counts":{"total-dois":178,"current-dois":25,"backfile-dois":153},"breakdowns":{"dois-by-issued-year":[[2016,38],[2017,29],[2011,22],[2019,16],[2008,16],[2013,15],[2014,13],[2009,10],[2018,8],[2010,6],[2012,4],[2020,1]]},"prefixes":["10.5693"],"coverage":{"affiliations-current":0.0,"similarity-checking-current":0.0,"funders-backfile":0.0,"licenses-backfile":0.0,"funders-current":0.0,"affiliations-backfile":0.0,"resource-links-backfile":0.0,"orcids-backfile":0.0,"update-policies-current":0.0,"open-references-backfile":0.0,"orcids-current":0.0,"similarity-checking-backfile":0.0,"references-backfile":0.0,"award-numbers-backfile":0.0,"update-policies-backfile":0.0,"licenses-current":0.0,"award-numbers-current":0.0,"abstracts-backfile":0.0,"resource-links-current":0.0,"abstracts-current":0.0,"open-references-current":0.0,"references-current":0.0},"prefix":[{"value":"10.5693","name":"Digital
        Journal of Opthamology","public-references":false,"reference-visibility":"limited"}],"id":3822,"tokens":["digital","journal","of","opthalmology"],"counts-type":{"all":{"journal-article":178},"current":{"journal-article":25},"backfile":{"journal-article":153}},"coverage-type":{"all":{"journal-article":{"last-status-check-time":1593197505904,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"references":0.0,"funders":0.0,"similarity-checking":0.0,"award-numbers":0.0,"update-policies":0.0,"resource-links":0.0,"open-references":0.0}},"backfile":{"journal-article":{"last-status-check-time":1593197503009,"affiliations":0.0,"abstracts":0.0,"orcids":0.0,"licenses":0.0,"ref[...]
