http_interactions:
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&filter=has-license%3Atrue&offset=0&rows=200
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.2.92 rOpenSci(rcrossref/1.0.0.92) (mailto:<<crossref-email>>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":207570,"items":[{"indexed":{"date-parts":[[2020,4,10]],"date-time":"2020-04-10T07:00:59Z","timestamp":1586502059178},"reference-count":0,"publisher":"Wiley","issue":"3","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":21246,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Ecology"],"published-print":{"date-parts":[[1957,7]]},"DOI":"10.2307\/1929908","type":"journal-article","created":{"date-parts":[[2006,5,3]],"date-time":"2006-05-03T20:00:35Z","timestamp":1146686435000},"page":"545","source":"Crossref","is-referenced-by-count":0,"title":["Scandinavian
        Ecology"],"prefix":"10.1002","volume":"38","author":[{"given":"Askell","family":"Love","sequence":"first","affiliation":[]},{"given":"Hugo","family":"Sjors","sequence":"additional","affiliation":[]}],"member":"311","container-title":["Ecology"],"link":[{"URL":"https:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.2307%2F1929908","content-type":"unspecified","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/full\/10.2307\/1929908","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2018,8,4]],"date-time":"2018-08-04T15:56:02Z","timestamp":1533398162000},"score":9.978466,"issued":{"date-parts":[[1957,7]]},"references-count":0,"journal-issue":{"published-print":{"date-parts":[[1957,7]]},"issue":"3"},"URL":"http:\/\/dx.doi.org\/10.2307\/1929908","ISSN":["0012-9658"],"issn-type":[{"value":"0012-9658","type":"print"}],"subject":["Ecology,
        Evolution, Behavior and Systematics"]},{"indexed":{"date-parts":[[2020,4,10]],"date-time":"2020-04-10T07:01:02Z","timestamp":1586502062860},"reference-count":0,"publisher":"Wiley","issue":"4","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":21154,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container[...]
