http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=5&fl=id&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 01 Jul 2020 17:53:09 GMT
      etag: '"YTBiYzQwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":0,"start":0,"docs":[]
          }}
  recorded_at: 2020-07-01 18:23:37 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: http://api.plos.org/search?q=5&fl=id&start=0&rows=10&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 01 Jul 2020 17:53:09 GMT
      etag: '"YzRiYzQwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":0,"start":0,"docs":[]
          }}
  recorded_at: 2020-07-01 18:23:37 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
