http_interactions:
- request:
    method: get
    uri: https://www.biorxiv.org/search/asdfasdfasdfasfasfd%20numresults:30
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-language: en
      content-type: text/html; charset=utf-8
      link: <https://www.biorxiv.org/search/asdfasdfasdfasfasfd%20numresults%3A30>;
        rel="canonical",<https://www.biorxiv.org/search/asdfasdfasdfasfasfd%20numresults%3A30>;
        rel="shortlink"
      status: 'HTTP/2 200 '
      x-drupal-cache: MISS
      x-generator: Drupal 7 (http://drupal.org)
      x-highwire-sitecode: biorxiv
      x-highwire-smart-code: biorxiv_production
      x-varnish-cache: ''
      x-varnish-ttl: ''
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE html>\n<html lang=\"en\" dir=\"ltr\" \n  xmlns=\"http://www.w3.org/1999/xhtml\"\n
        \ xmlns:mml=\"http://www.w3.org/1998/Math/MathML\">\n  <head prefix=\"og:
        http://ogp.me/ns# article: http://ogp.me/ns/article# book: http://ogp.me/ns/book#\"
        >\n    <!--[if IE]><![endif]-->\n<meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=utf-8\" />\n<link rel=\"dns-prefetch\" href=\"//stats.g.doubleclick.net\"
        />\n<link rel=\"dns-prefetch\" href=\"//d33xdlntwy0kbs.cloudfront.net\" />\n<link
        rel=\"dns-prefetch\" href=\"//www.google-analytics.com\" />\n<meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1, maximum-scale=3, minimum-scale=1,
        user-scalable=yes\" />\n<link rel=\"shortcut icon\" href=\"https://www.biorxiv.org/sites/default/files/images/favicon.ico\"
        type=\"image/vnd.microsoft.icon\" />\n<meta name=\"description\" content=\"bioRxiv
        - the preprint server for biology, operated by Cold Spring Harbor Laboratory,
        a research and educational institution\" />\n<meta name=\"generator\" content=\"Drupal
        7 (http://drupal.org)\" />\n<link rel=\"canonical\" href=\"https://www.biorxiv.org/search/asdfasdfasdfasfasfd%20numresults%3A30\"
        />\n<link rel=\"shortlink\" href=\"https://www.biorxiv.org/search/asdfasdfasdfasfasfd%20numresults%3A30\"
        />\n    <title>Search Results | bioRxiv</title>  \n    <link type=\"text/css\"
        rel=\"stylesheet\" href=\"https://www.biorxiv.org/sites/default/files/advagg_css/css__q1jfIfL8-NmYQwIYZiQJkXRvxUhw39T6nMKFZH7cllk__6eR-HG068hreGXGvZigV_cQG10gMcVih32c6FYJBqbE__2Vk8Jq1CvyoD5Whg-2H8wW3EiWCafsCg4v9uYgZf94Q.css\"
        media=\"all\" />\n<link type=\"text/css\" rel=\"stylesheet\" href=\"https://www.biorxiv.org/sites/all/modules/highwire/highwire/highwire.style.highwire.css?qcoew7\"
        media=\"all\" />\n<link type=\"text/css\" rel=\"stylesheet\" href=\"https://www.biorxiv.org/sites/default/files/advagg_css/css__T2P134Rgsot7gxBGGcj4_r5CWWPW74URR8Mm862EyyA__Npyf2LzhlzCEt8-fkO2QhQ1kGD3HfhfGiAt6B_wlX08__2Vk8Jq1CvyoD5Whg-2H8wW3EiWCafsCg4v9uYgZf94Q.css\"
        media=\"all\" />\n<style type=\"text/css\" media=\"all\">\n/* <![CDATA[ */\n#sliding-popup.sliding-popup-bottom,#sliding-popup.sliding-popup-bottom
        .eu-cookie-withdraw-banner,.eu-cookie-withdraw-tab{background:gray}#sliding-popup.sliding-popup-bottom.eu-cookie-withdraw-wrapper{background:transparent}#sliding-popup
        .popup-content #popup-text h1,#sliding-popup .popup-content #popup-text h2,#sliding-popup
        .popup-content #popup-text h3,#sliding-popup .popup-content #popup-text p,.eu-cookie-compliance[...]
