http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=ecology&fl=id&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 01 Jul 2020 17:53:09 GMT
      etag: '"ZTczYzQwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":52809,"start":0,"docs":[]
          }}
  recorded_at: 2020-07-01 18:16:12 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: http://api.plos.org/search?q=ecology&fl=id&start=0&rows=200&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 01 Jul 2020 17:53:09 GMT
      etag: '"YzRiYzQwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":52809,"start":0,"docs":[
              {
                "id":"10.1371/journal.pone.0001248"},
              {
                "id":"10.1371/journal.pone.0059813"},
              {
                "id":"10.1371/journal.pone.0080763"},
              {
                "id":"10.1371/journal.pone.0220747"},
              {
                "id":"10.1371/journal.pone.0155019"},
              {
                "id":"10.1371/journal.pone.0175014"},
              {
                "id":"10.1371/journal.pone.0150648"},
              {
                "id":"10.1371/j[...]
