http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?q=ecology&fl=id&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 01 Jul 2020 17:53:08 GMT
      etag: '"ZGEzYzQwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":52809,"start":0,"docs":[]
          }}
  recorded_at: 2020-07-01 18:10:32 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: http://api.plos.org/search?q=ecology&fl=id&start=0&rows=10&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 01 Jul 2020 17:53:09 GMT
      etag: '"YTBiYzQwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":52809,"start":0,"docs":[
              {
                "id":"10.1371/journal.pone.0001248"},
              {
                "id":"10.1371/journal.pone.0059813"},
              {
                "id":"10.1371/journal.pone.0080763"},
              {
                "id":"10.1371/journal.pone.0220747"},
              {
                "id":"10.1371/journal.pone.0155019"},
              {
                "id":"10.1371/journal.pone.0175014"},
              {
                "id":"10.1371/journal.pone.0150648"},
              {
                "id":"10.1371/journal.pone.0208370"},
              {
                "id":"10.1371/journal.pcbi.1003594"},
              {
                "id":"10.1371/journal.pone.0102437"}]
          }}
  recorded_at: 2020-07-01 18:10:32 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: http://api.plos.org/search?q=climate%20change&fl=id%2Cauthor%2Ceissn%2Cjournal%2Ccounter_total_all%2Calm_twitterCount&rows=0&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 01 Jul 2020 17:53:09 GMT
      etag: '"YTBiYzQwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":23788,"start":0,"docs":[]
          }}
  recorded_at: 2020-07-01 18:10:32 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
- request:
    method: get
    uri: http://api.plos.org/search?q=climate%20change&fl=id%2Cauthor%2Ceissn%2Cjournal%2Ccounter_total_all%2Calm_twitterCount&start=0&rows=10&wt=json
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=utf-8
      last-modified: Wed, 01 Jul 2020 17:53:09 GMT
      etag: '"YzRiYzQwMDAwMDAwMDAwMFNvbHI="'
    body:
      encoding: UTF-8
      file: no
      string: |
        {
          "response":{"numFound":23788,"start":0,"docs":[
              {
                "id":"10.1371/journal.pone.0054839",
                "journal":"PLoS ONE",
                "eissn":"1932-6203",
                "author":["Junsheng Li",
                  "Xin Lin",
                  "Anping Chen",
                  "Townsend Peterson",
                  "Keping Ma",
                  "Monika Bertzky",
                  "Philippe Ciais",
                  "Valerie Kapos",
                  "Changhui Peng",
                  "Benjamin Poulter"],
                "alm_twitterCount":9,
                "counter_total_all":5448},
              {
                "id":"10.1371/journal.pone.0141526",
                "journal":"PLOS ONE",
                "eissn":"1932-6203",
                "author":["Brittany Bloodhart",
                  "Edward Maibach",
                  "Teresa Myers",
                  "Xiaoquan Zhao"],
                "alm_twitterCount":6,
                "counter_total_all":7467},
              {
                "id":"10.1371/journal.pone.0159909",
                "journal":"PLOS ONE",
       [...]
- request:
    method: get
    uri: https://api.crossref.org/works?query=ecology&filter=has-license%3Atrue&offset=0&rows=10
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.2.92 rOpenSci(rcrossref/1.0.0.92) (mailto:<<crossref-email>>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":207570,"items":[{"indexed":{"date-parts":[[2020,4,10]],"date-time":"2020-04-10T07:00:59Z","timestamp":1586502059178},"reference-count":0,"publisher":"Wiley","issue":"3","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1.1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":21246,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":["Ecology"],"published-print":{"date-parts":[[1957,7]]},"DOI":"10.2307\/1929908","type":"journal-article","created":{"date-parts":[[2006,5,3]],"date-time":"2006-05-03T20:00:35Z","timestamp":1146686435000},"page":"545","source":"Crossref","is-referenced-by-count":0,"title":["Scandinavian
        Ecology"],"prefix":"10.1002","volume":"38","author":[{"given":"Askell","family":"Love","sequence":"first","affiliation":[]},{"given":"Hugo","family":"Sjors","sequence":"additional","affiliation":[]}],"member":"311","container-title":["Ecology"],"link":[{"URL":"https:\/\/api.wiley.com\/onlinelibrary\/tdm\/v1\/articles\/10.2307%2F1929908","content-type":"unspecified","content-version":"vor","intended-application":"text-mining"},{"URL":"https:\/\/onlinelibrary.wiley.com\/doi\/full\/10.2307\/1929908","content-type":"unspecified","content-version":"vor","intended-application":"similarity-checking"}],"deposited":{"date-parts":[[2018,8,4]],"date-time":"2018-08-04T15:56:02Z","timestamp":1533398162000},"score":9.978532,"issued":{"date-parts":[[1957,7]]},"references-count":0,"journal-issue":{"published-print":{"date-parts":[[1957,7]]},"issue":"3"},"URL":"http:\/\/dx.doi.org\/10.2307\/1929908","ISSN":["0012-9658"],"issn-type":[{"value":"0012-9658","type":"print"}],"subject":["Ecology,
        Evolution, Behavior and Systematics"]},{"indexed":{"date-parts":[[2020,4,10]],"date-time":"2020-04-10T07:01:02Z","timestamp":1586502062860},"reference-count":0,"publisher":"Wiley","issue":"4","license":[{"URL":"http:\/\/doi.wiley.com\/10.1002\/tdm_license_1","start":{"date-parts":[[2015,9,1]],"date-time":"2015-09-01T00:00:00Z","timestamp":1441065600000},"delay-in-days":21154,"content-version":"tdm"}],"content-domain":{"domain":[],"crossmark-restriction":false},"short-container[...]
- request:
    method: get
    uri: https://www.biorxiv.org/search/owls%20numresults:30
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      content-language: en
      content-type: text/html; charset=utf-8
      link: <https://www.biorxiv.org/search/owls%20numresults%3A30>; rel="canonical",<https://www.biorxiv.org/search/owls%20numresults%3A30>;
        rel="shortlink"
      status: 'HTTP/2 200 '
      x-drupal-cache: MISS
      x-generator: Drupal 7 (http://drupal.org)
      x-highwire-sitecode: biorxiv
      x-highwire-smart-code: biorxiv_production
      x-varnish-cache: ''
      x-varnish-ttl: ''
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE html>\n<html lang=\"en\" dir=\"ltr\" \n  xmlns=\"http://www.w3.org/1999/xhtml\"\n
        \ xmlns:mml=\"http://www.w3.org/1998/Math/MathML\">\n  <head prefix=\"og:
        http://ogp.me/ns# article: http://ogp.me/ns/article# book: http://ogp.me/ns/book#\"
        >\n    <!--[if IE]><![endif]-->\n<meta http-equiv=\"Content-Type\" content=\"text/html;
        charset=utf-8\" />\n<link rel=\"dns-prefetch\" href=\"//stats.g.doubleclick.net\"
        />\n<link rel=\"dns-prefetch\" href=\"//d33xdlntwy0kbs.cloudfront.net\" />\n<link
        rel=\"dns-prefetch\" href=\"//www.google-analytics.com\" />\n<meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1, maximum-scale=3, minimum-scale=1,
        user-scalable=yes\" />\n<link rel=\"shortcut icon\" href=\"https://www.biorxiv.or[...]
- request:
    method: get
    uri: https://api.crossref.org/works/https://doi.org/10.1101/2020.02.18.954685
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.2.92 rOpenSci(rcrossref/1.0.0.92) (mailto:<<crossref-email>>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":{"name":"bioRxiv","place":["-"],"acronym":["-"]},"indexed":{"date-parts":[[2020,6,10]],"date-time":"2020-06-10T00:48:25Z","timestamp":1591750105283},"posted":{"date-parts":[[2020,2,19]]},"group-title":"Evolutionary
        Biology","reference-count":57,"publisher":"Cold Spring Harbor Laboratory","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"accepted":{"date-parts":[[2020,2,19]]},"abstract":"<jats:title>Abstract<\/jats:title><jats:p>Spotted
        owls (SO, <jats:italic>Strix occidentalis<\/jats:italic>) are a keystone species
        inhabiting old-growth forests in Western North America. In recent decades,
        their populations have declined due to ongoing reductions in suitable habitat
        caused by logging, wildfires, and competition with the congeneric barred owl
        (BO, <jats:italic>Strix varia<\/jats:italic>). The northern spotted owl (subspecies
        <jats:italic>S. o. caurina<\/jats:italic>) has been listed as \u201cthreatened\u201d
   [...]
- request:
    method: get
    uri: https://api.crossref.org/works/https://doi.org/10.1101/517201
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.2.92 rOpenSci(rcrossref/1.0.0.92) (mailto:<<crossref-email>>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit:[...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works/https://doi.org/10.1101/2020.04.30.071407
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.2.92 rOpenSci(rcrossref/1.0.0.92) (mailto:<<crossref-email>>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":{"name":"bioRxiv","place":["-"],"acronym":["-"]},"indexed":{"date-parts":[[2020,5,5]],"date-time":"2020-05-05T19:11:59Z","timestamp":1588705919901},"posted":{"date-parts":[[2020,5,2]]},"group-title":"Bioinformatics","reference-count":20,"publisher":"Cold
        Spring Harbor Laboratory","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"accepted":{"date-parts":[[2020,5,2]]},"abstract":"<jats:title>ABSTRACT<\/jats:title><jats:sec><jats:title>Motivation<\/jats:title><jats:p>Although
        knowledge graphs (KGs) are used extensively in biomedical research to model
        complex phenomena, many KG construction methods remain largely unable to account
        for the use of different standardized terminologies or vocabularies, are often
        difficult to use, and perform poorly as the size of the KG increases in scale.
        We introduce PheKnowLator (Phenotype Knowledge Translator), a novel KG framework
        and fully automated Python 3 library explicitly designed for optimized construction
        of semantically-rich, large-scale biomedical KGs. To demonstrate the functionality
        of the framework, we built and evaluated eight different parameterizations
        of a large semantic KG of human disease mechanisms. PheKnowLator is available
        at: <jats:ext-link xmlns:xlink=\"http:\/\/www.w3.org\/1999\/xlink\" ext-link-type=\"uri\"
        xlink:href=\"https:\/\/github.com\/callahantiff\/PheKnowLator\">https:\/\/github.com\/callahantiff\/PheKnowLator<\/jats:ext-link>.<\/jats:p><\/jats:sec>","DOI":"10.1101\/2020.04.30.071407","type":"posted-content","created":{"date-parts":[[2020,5,2]],"date-time":"2020-05-02T16:09:25Z","timestamp":1588435765000},"source":"Crossref","is-referenced-by-count":0,"title":["A
        Framework for Automated Construction of Heterogeneous Large-Scale Biomedical
        Knowledge Graphs"],"prefix":"10.1101","author":[{"ORCID":"http:\/\/orcid.org\/0000-0002-8169-9049","authenticated-orcid":false,"given":"Tiffany
        J.","family":"Callahan","sequence":"first","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0003-3066-4273","authenticated-orcid":false,"given":"Ignacio
        J.","family":"Tripodi","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0003-1455-3370","authenticated-orcid":false,"given":"Lawrence
        E.","family":"Hunter","sequence":"additional","affiliation":[]},{"ORCID":"http:\/\/orcid.org\/0000-0001-6717-5313","authenticated-orcid":false,"suffix":"Jr.","given":"William
        A.","family":"Baumgartner","sequence":"additional","affiliation":[]}],"member":"246","reference":[{"key":"2020050511450706000_2020.04.30.071407v1.1","volume":"1","first-page":"19","year":"2017","article-title":"Knowledge-based
        biomedical Data Science","journal-title":"EPJ Data Sci","DOI":"10.3233\/DS-170001","doi-asserted-by":"crossref"},{"key":"2020050511450706000_2020.04.30.071407v1.2","volume":"41","first-page":"706","year":"2002","article-title":"Bio2RDF:
        towards a mashup to build bioinformatics knowledge systems","journal-title":"J
        Biomed Inform"},{"key":"2020050511450706000_2020.04.30.071407v1.3","DOI":"10.1186\/s12859-015-0559-3","doi-asserted-by":"publisher"},{"key":"2020050511450706000_2020.04.30.071407v1.4","volume":"33","first-page":"2723","year":"2017","article-title":"Neuro-symbolic
     [...]
[...]
- request:
    method: get
    uri: https://api.crossref.org/works/https://doi.org/10.1101/757724
    body:
      encoding: ''
      string: ''
    headers:
      X-USER-AGENT: r-curl/4.3 crul/0.9.2.92 rOpenSci(rcrossref/1.0.0.92) (mailto:<<crossref-email>>)
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
      x-rate-limit-limit: '50'
      x-rate-limit-interval: 1s
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"work","message-version":"1.0.0","message":{"institution":{"name":"bioRxiv","place":["-"],"acronym":["-"]},"indexed":{"date-parts":[[2020,3,27]],"date-time":"2020-03-27T20:54:53Z","timestamp":1585342493900},"posted":{"date-parts":[[2019,9,16]]},"group-title":"Scientific
        Communication and Education","reference-count":86,"publisher":"Cold Spring
        Harbor Laboratory","content-domain":{"domain":[],"crossmark-restriction":false},"short-container-title":[],"accepted":{"date-parts":[[2019,9,16]]},"abstract":"<jats:label>1.<\/jats:label><jats:title>Abstract<\/jats:title><jats:p>Traditional
        cultural beliefs influence perceptions of animals, and in some cases can result
        in persecution of wildlife. Stigmas against species associated with witchcraft,
        for example, can act as a barrier to the uptake of more cost effective, sustainable,
        and environmentally sound practices such as reducing crop damage by controlling
        rodent agricultural pests by relying on indigenous predators rath[...]
[...]
