http_interactions:
- request:
    method: get
    uri: https://api.elsevier.com/content/search/scopus?query=ecology&count=10&start=0
    body:
      encoding: ''
      string: ''
    headers:
      X-ELS-APIKey: <<scopus-key>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      allow: GET
      content-type: application/json;charset=UTF-8
      x-els-apikey: <<scopus-key>>
      x-els-reqid: 4ea57a54-1a4b-4c00-a911-ef36daf6392b
      x-els-resourceversion: default
      x-els-status: OK
      x-els-transid: 7d9c2e46-5549-49f7-afd6-1f6e3ee0ffe3
      x-ratelimit-limit: '20000'
      x-ratelimit-remaining: '19880'
      x-ratelimit-reset: '1594210657000'
    body:
      encoding: UTF-8
      file: no
      string: '{"search-results":{"opensearch:totalResults":"2843502","opensearch:startIndex":"0","opensearch:itemsPerPage":"10","opensearch:Query":{"@role":
        "request", "@searchTerms": "ecology", "@startPage": "0"},"link": [{"@_fa":
        "true", "@ref": "self", "@href": "https://api.elsevier.com/content/search/scopus?start=0&count=10&query=ecology",
        "@type": "application/json"},{"@_fa": "true", "@ref": "first", "@href": "https://api.elsevier.com/content/search/scopus?start=0&count=10&query=ecology",
        "@type": "application/json"},{"@_fa": "true", "@ref": "next", "@href": "https://api.elsevier.com/content/search/scopus?start=10&count=10&query=ecology",
        "@type": "application/json"},{"@_fa": "true", "@ref": "last", "@href": "https://api.elsevier.com/content/search/scopus?start=4990&count=10&query=ecology",
        "@type": "application/json"}],"entry": [{"@_fa": "true", "link": [{"@_fa":
        "true", "@ref": "self", "@href": "https://api.elsevier.com/content/abstract/scopus_id/85086306798"},{"@_fa":
        "true", "@ref": "author-affiliation", "@href": "https://api.elsevier.com/content/abstract/scopus_id/85086306798?field=author,affiliation"},{"@_fa":
        "true", "@ref": "scopus", "@href": "https://www.scopus.com/inward/record.uri?partnerID=HzOxMe3b&scp=85086306798&origin=inward"},{"@_fa":
        "true", "@ref": "scopus-citedby", "@href": "https://www.scopus.com/inward/citedby.uri?partnerID=HzOxMe3b&scp=85086306798&origin=inward"}],"prism:url":"https://api.elsevier.com/content/abstract/scopus_id/85086306798","dc:identifier":"SCOPUS_ID:85086306798","eid":"2-s2.0-85086306798","dc:title":"Automatic
        multi-class classification of tiny and faint printing defects based on semantic
        segmentation","dc:creator":"Tsuji T.","prism:publicationName":"Smart Innovation,
        Systems and Technologies","prism:issn":"21903018","prism:eIssn":"21903026","prism:isbn":
        [{"@_fa": "true", "$" :"9789811557835"}],"prism:volume":"189","prism:pageRange":"101-113","prism:coverDate":"2021-01-01","prism:coverDisplayDate":"2021","prism:doi":"10.1007/978-981-15-5784-2_9","citedby-count":"0","affiliation":
        [{"@_fa": "true", "affilname":"University of Tsukuba","affiliation-city":"Tsukuba","affiliation-country":"Japan"}],"prism:aggregationType":"Book
        Series","subtype":"cp","subtypeDescription":"Conference Paper","source-id":"21100204111","openaccess":"0","openaccessFlag":false},{"@_fa":
        "true", "link": [{"@_fa": "true", "@ref": "self", "@href": "https://api.elsevier.com/content/abstract/scopus_id/85086630869"},{"@_fa":
        "true", "@ref": "author-affiliation", "@href": "https://api.elsevier.com/content/abstract/scopus_id/85086630869?field=author,affiliation"},{"@_fa":
        "true", "@ref": "scopus", "@href": "https://www.scopus.com/inward/record.uri?partnerID=HzOxMe3b&scp=85086630869&origin=inward"},{"@_fa":
        "true", "@ref": "scopus-citedby", "@href": "https://www.scopus.com/inward/citedby.uri?partnerID=HzOxMe3b&scp=85086630869&origin=inward"},{"@_fa":
        "true", "@ref": "full-text", "@href": "https://api.elsevier.com/content/article/eid/1-s2.0-S1001074220302527"}],"prism:url":"https://api.elsevier.com/content/abstract/scopus_id/85086630869","dc:identifier":"SCOPUS_ID:85086630869","eid":"2-s2.0-85086630869","dc:title":"Alteration
        of dominant cyanobacteria in different bloom periods caused by abiotic factors
        and species interactions","dc:creator":"Zhang Z.","prism:publicationName":"Journal
        of Environmental Sciences (China)","prism:issn":"10010742","prism:eIssn":"18787320","prism:volume":"99","prism:pageRange":"1-9","prism:coverDate":"2021-01-01","prism:coverDisplayDate":"January
        2021","prism:doi":"10.1016/j.jes.2020.06.001","pii":"S1001074220302527","citedby-count":"0","affiliation":
        [{"@_fa": "true", "affilname":"Zhejiang University of Technology","affiliation-city":"Hangzhou","affiliation-country":"China"}],"prism:aggregationType":"Journal","subtype":"ar","subtypeDescription":"Article","source-id":"23393","openaccess":"1","openaccessFlag":true},{"@_fa":
        "true", "link": [{"@_fa": "true", "@ref": "self", "@href": "https://api.elsevier.com/content/abstract/scopus_id/85086828041"},{"@_fa":
        "true", "[...]
